.scroll {
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

body {
    margin: 10%;
    padding: auto;
}

.circle-gradient {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    background: radial-gradient(circle, rgb(172, 162, 159), rgb(241, 241, 241)) no-repeat center bottom;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
  }

header {
    position: relative;
}
  
header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; 
    height: auto;
    border-radius: 100%;
}

h1 {
    margin-top: auto;
    text-align: right;
    font-size: 50px;
    font-family: Arial Black, Helvetica, sans-serif;
}

h1 span {
    display: block;
}

hr {
    height: 5px;
    border-width: 0;
    background-color: black;
    
}

.medium {
    height: 1px;
    border-width: 0;
    background-color: black;
}

.summary {
    font-size: 20px;
    text-align: left;
    font-family: Arial Black, Helvetica, sans-serif; 
}

.sum {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
}

p span {
    display: block;
}

.educ {
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 15px;
}

.sub {
    font-size: 13px;
}

ul {
    list-style-position: outside;
    list-style-type: circle;
}

li {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.work {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-top: -59%;
    margin-right: 20%;
}

.work1 {
    margin-left: 65%;
}

.skills {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-top: 50%;
}

h2 {
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 15px;
}

.exp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(243, 93, 33);
}

.footer {
    font-size: 13px;
    text-align: center;
    font-style: italic;
}
