body {
    background-color: white;
    background-image: url(bg.jpg);
}

h1 {
    text-align: right;
    font-size: 50px;
}

hr {
    height: 5px;
    border-width: 0;
    background-color: black;
    
}